body {
    background-color: rgb(10, 9, 24);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;

}

canvas {
    /* position: absolute; */
    /* top: 0; */
    /* left: 0;    */
    margin: 0;
    padding: 0;
    z-index: 3;

}

.scrollbar {
    margin-left: 30px;
    float: left;
    height: 300px;
    width: 65px;
    background: #4800ff;
    overflow-y: scroll;
    margin-bottom: 25px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(80, 2, 170, 0.3);
    background-color: #222027;
}

body::-webkit-scrollbar {
    width: 6px;
    background-color: #4d2424;
}

body::-webkit-scrollbar-thumb {
    /* a color which looks good with #181225 */
    background-color: #4800ff;
    background-image: -webkit-linear-gradient(12deg, #4800ff, #9469ff);
}



/* position: absolute; */
/* top: 0; */
/* left: 0;/ */
/* width:100vw; */
/* height:100vh; */


.input_video {
    /* align center */
    /* position: absolute; */
    top: 0%;
    left: 50%;
    transform: translate(0%, 0%);
    z-index: -5;
    /* width: 100%; */
    /* transition: 500ms; */
}

.toggle_button {
    /* size the button to be big and have a blue color and rounded corners */
    /* width: 16vw; */
    /* height: 5vh; */
    background-color: rgb(43, 37, 68);
    border-radius: 12px;
    border: none;
    /* 1px solid rgba(255, 0, 55, 0.479); */
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    padding: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: 300ms;
}

.toggle_button:hover {
    background-color: rgb(255, 0, 106);
    /* border: 1px solid rgba(76, 0, 255, 0.39); */
    color: rgb(255, 255, 255);
}

.camera_settings {
    float: right;
}

.content {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ruleimage{
    margin: 3rem;
    filter: contrast(60%) grayscale(30%);
}
footer{
    width:100%;
    background-color: #0f0b1b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}
.slider{
    background-color: #9469ff;
}