body { 
    background-color: rgb(10, 9, 24);
    margin : 0;
    padding: 0 ; 
}
canvas{
    /* position: absolute; */
    /* top: 0; */
    /* left: 0;    */
    margin : 0;
    padding: 0 ;
}


/* position: absolute; */
/* top: 0; */
/* left: 0;/ */
/* width:100vw; */
/* height:100vh; */

monapple{
    z-index: 3;
}

.input_video{
    /* align center */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 100%; */


}
.toggle_landmarks_button{
    /* size the button to be big and have a blue color and rounded corners */
    width: 16vw;
    /* height: 5vh; */
    background-color: rgb(170, 9, 76);
    border-radius: 30px;
    border: none ; 
    /* 1px solid rgba(255, 0, 55, 0.479); */
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    padding: 8px;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
    position: relative;
    z-index: 2; 
    transition: 300ms;
}
.toggle_landmarks_button:hover{
    background-color: rgb(255, 0, 106);
    /* border: 1px solid rgba(76, 0, 255, 0.39); */
    color: rgb(255,255,255);
}

 